.contact-container {
  color: #fff;
  max-width: 700px;
  margin: 20px auto;
  padding: 0 40px;
  text-align: center;
}

.contact-container h3 {
  margin: 1rem 0 0;
}

.contact-container p {
  margin: 0;
}

.group-title {
  padding: 0;
  margin: 3rem 0 1rem;
}

.hours-list,
.social-list {
  margin: 0;
  padding: 0;
}

.social-list {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.hours-list > li,
.social-list > li {
  list-style: none;
}

.social-list a {
  color: #fff;
  text-decoration: none;
}

.social-list a:hover {
  text-decoration: underline;
}