.info-container {
  color: #fff;
  max-height: 60vh;
  height: 700px;
  max-width: 700px;
  margin: 20px auto;
  padding: 0 20px;
  text-align: center;
}

.chef-img {
  height: 500px;
  width: auto;
  max-height: 60%;
  max-width: 100%;
  border-radius: 50%;
}

.about-title {
  margin: 1rem;
  font-size: 28px;
  color: #fff;
}

.about-text {
  margin-top: 20px;
  font-size: 1.5rem;
}